services:
  bot:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: music-bot
    restart: unless-stopped
    network_mode: host
    privileged: true
    env_file:
      - .env
    environment:
      - USE_REDIS=false
      - PYTHONUNBUFFERED=1
    volumes:
      - ./data:/app/data
    cap_add:
      - NET_ADMIN
