services:
  bot:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: music-bot
    restart: unless-stopped
    network_mode: host
    env_file:
      - .env
    environment:
      - USE_REDIS=false
    volumes:
      - ./data:/app/data
      
